html{
    height: 100%;
}
body {
    background: rgb(123,40,40);
    background: radial-gradient(circle, rgba(123,40,40,1) 25%, rgba(185,60,60,1) 85%);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.gameContainer{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.box_container {
    padding: 10px 0 0 10px;
    margin: 1px;
    border-radius: 5px;
    background: #9a3232;
    box-shadow: inset -5px -5px 10px #7b2828,
    inset 5px 5px 10px #b93c3c;

}

.box_container:hover {
    background: #9a3232;
    box-shadow: inset 5px 5px 10px #7b2828,
    inset -5px -5px 10px #b93c3c;
}

.main_box{
    background: #9a3232;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 3px 3px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
}

.container {
    background: #9a3232;
    padding: 20px;
    border-radius: 5px;
    box-shadow: inset -5px -5px 10px #7b2828,
    inset 5px 5px 10px #b93c3c;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 8px 8px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
}

#signature {
    font-family: "Maiandra GD", serif;
    font-size: 11px;
}

a {
    color: black;
}